// Font
$FontWeight: 400;

// Background
$primary-background: #f0f0f0;
$icon-background-color: #e4e4e4;
$background-input: #f6f6f6;

// media query
$sm: "max-width:768px";
$md: "max-width:992px";
$lg: "max-width:1200px";

// Color
$icon-color: #656565;
$active-color: #1b75e5;
$color-white: white;

// width
$sidebar-width: rem(360);
$feed-width: rem(680);

// padding
$primary-padding :rem(10);

// box-shadow
$shadow: 0px 3px 9px #0000000d;

// height fixed
$HeightFixed: 70px;