<div class="wrapper">
    <div class="left">
        <ul class="left_favorites">
            <li class="left_favorites__favorite">
                <i class="fa-solid fa-user-group"></i>
                <span>Friends</span>
            </li>
            <li class="left_favorites__favorite">
                <i class="fa-solid fa-tv"></i>
                <span>Watch</span>
            </li>
            <li class="left_favorites__favorite">
                <i class="fa-solid fa-shop"></i>
                <span>Marketplace</span>
            </li>
            <li class="left_favorites__favorite">
                <i class="fa-solid fa-people-group"></i>
                <span>Group</span>
            </li>
            <li class="left_favorites__favorite">
                <i class="fa-solid fa-memory"></i>
                <span>Memories</span>
            </li>
        </ul>
        <h4>Your Shortcuts</h4>
        <ul class="left_shortcuts">
            <li class="left_shortcuts__shortcuts">
                <div class="left_shortcuts__shortcuts--image">
                    <img src="https://picsum.photos/260" alt="shortcuts_1">
                </div>
                <span class="shortcuts_username">Reda IBENAHMED</span>
            </li>
            <li class="left_shortcuts__shortcuts">
                <div class="left_shortcuts__shortcuts--image">
                    <img src="https://picsum.photos/261" alt="shortcuts_2">
                </div>
                <span class="shortcuts_username">Mostafa Yamal</span>
            </li>
            <li class="left_shortcuts__shortcuts">
                <div class="left_shortcuts__shortcuts--image">
                    <img src="https://picsum.photos/262" alt="shortcuts_3">
                </div>
                <span class="shortcuts_username">Younes Kamouch</span>
            </li>

        </ul>
    </div>
</div>