<div class="wrapper">
    <!-- stories -->
    <div class="middle_stories">
        <div class="middle_stories__storie">
            <div class="middle_stories__storie-image">
                <img src="https://picsum.photos/200/301" alt="image stories">
            </div>
            <div class="middle_stories__storie-profile">
                <div class="middle_stories__storie-profile-image">
                    <img src="https://picsum.photos/seed/picsum/200/300" alt="imge profile">
                </div>
                <div class="middle_stories__storie-profile-username"><span>Nour HOMSI</span></div>
            </div>
        </div>
        <div class="middle_stories__storie">
            <div class="middle_stories__storie-image">
                <img src="https://picsum.photos/200/304" alt="image stories">
            </div>
            <div class="middle_stories__storie-profile">
                <div class="middle_stories__storie-profile-image">
                    <img src="https://picsum.photos/seed/picsum/200/300" alt="imge profile">
                </div>
                <div class="middle_stories__storie-profile-username"><span>Reda IBENAHMED</span></div>
            </div>
        </div>
        <div class="middle_stories__storie">
            <div class="middle_stories__storie-image">
                <img src="https://picsum.photos/200/303" alt="image stories">
            </div>
            <div class="middle_stories__storie-profile">
                <div class="middle_stories__storie-profile-image">
                    <img src="https://picsum.photos/seed/picsum/200/300" alt="imge profile">
                </div>
                <div class="middle_stories__storie-profile-username"><span>Mounir GAYBI</span></div>
            </div>
        </div>
        <div class="middle_stories__storie">
            <div class="middle_stories__storie-image">
                <img src="https://picsum.photos/200/302" alt="image stories">
            </div>
            <div class="middle_stories__storie-profile">
                <div class="middle_stories__storie-profile-image">
                    <img src="https://picsum.photos/seed/picsum/200/300" alt="imge profile">
                </div>
                <div class="middle_stories__storie-profile-username"><span>Mohamed MOUMEN</span></div>
            </div>
        </div>
    </div>

    <!-- Post -->
    <div class="middle_postes">
        <div class="middle_postes__post">
            <div class="middle_postes__post-create">
                <div class="image-box">
                    <img src="https://picsum.photos/seed/picsum/200/300" alt="facebook-logo">
                </div>
                <div class="input-box_text">
                    <label for="search">
                        <input type="text" id="search" placeholder="Search Facebook">
                    </label>
                </div>
            </div>
            <div class="middle_postes__post-icons">
                <div class="middle_postes__post-icons-icon">
                    <i class="fa-solid fa-video"></i>
                    <span class="middle_postes__post-icons-icon-name">Live Video</span>
                </div>
                <div class="middle_postes__post-icons-icon">
                    <i class="fa-solid fa-image"></i>
                    <span class="middle_postes__post-icons-icon-name">Photo/Video</span>
                </div>
                <div class="middle_postes__post-icons-icon">
                    <i class="fa-solid fa-person-breastfeeding"></i>
                    <span class="middle_postes__post-icons-icon-name">Feeling/Activity</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Room -->
    <div class="middle_room">
        <div class="middle_room_craete">
            <i class="fa-solid fa-video"></i>
            <span>Create room</span>
        </div>
        <div class="middle_room_box">
            <div class="middle_room_box_image">
                <img src="https://picsum.photos/seed/picsum/200/300" alt="facebook-logo" width="20px">
            </div>
            <div class="middle_room_box_image">
                <img src="https://picsum.photos/200/200" alt="facebook-logo" width="20px">
            </div>
            <div class="middle_room_box_image">
                <img src="https://picsum.photos/200/201" alt="facebook-logo" width="20px">
            </div>
            <div class="middle_room_box_image">
                <img src="https://picsum.photos/200/202" alt="facebook-logo" width="20px">
            </div>
            <div class="middle_room_box_image">
                <img src="https://picsum.photos/200/203" alt="facebook-logo" width="20px">
            </div>
            <div class="middle_room_box_image">
                <img src="https://picsum.photos/200/204" alt="facebook-logo" width="20px">
            </div>
            <div class="middle_room_box_image">
                <img src="https://picsum.photos/200/205" alt="facebook-logo" width="20px">
            </div>
            <div class="middle_room_box_image">
                <img src="https://picsum.photos/200/206" alt="facebook-logo" width="20px">
            </div>
            <div class="middle_room_box_image">
                <img src="https://picsum.photos/200/207" alt="facebook-logo" width="20px">
            </div>
        </div>
    </div>

    <!-- News -->
    <div class="middle_news">
        <div class="middle_news-feed">
            <header>
                <div class="middle_news-feed_image">
                    <img src="https://picsum.photos/seed/picsum/200/300" alt="facebook-logo" width="20px">
                </div>
                <div class="middle_news-feed-info">
                    <div class="middle_news-feed-info-content">
                        <h4>Reda IBENAHMED</h4>
                        <div>
                            <i class="fa-solid fa-earth-americas"></i>
                            <span>2d</span>
                        </div>
                    </div>
                    <i class="fa-solid fa-ellipsis"></i>
                </div>
            </header>
            <section>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, cumque dolores? Error commodi
                    rerum
                    placeat recusandae, delectus praesentium debitis aliquam sit architecto dicta sunt ea nam illo
                    reiciendis consequuntur! Consequuntur?
                </p>
                <!-- <img src="../../../src/assets/img/news1.jpg" alt="image news"> -->
            </section>
            <footer>
                <div class="feedback">
                    <i class="fa-solid fa-thumbs-up"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-face-laugh-squint"></i>
                </div>
                <div class="comments"><span>comments</span></div>
            </footer>
        </div>
        <div class="middle_news-feed">
            <header>
                <div class="middle_news-feed_image">
                    <img src="https://picsum.photos/seed/picsum/200/300" alt="facebook-logo" width="20px">
                </div>
                <div class="middle_news-feed-info">
                    <div class="middle_news-feed-info-content">
                        <h4>Reda IBENAHMED</h4>
                        <div>
                            <i class="fa-solid fa-earth-americas"></i>
                            <span>2d</span>
                        </div>
                    </div>
                    <i class="fa-solid fa-ellipsis"></i>
                </div>
            </header>
            <section>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, cumque dolores? Error commodi
                    rerum
                    placeat recusandae, delectus praesentium debitis aliquam sit architecto dicta sunt ea nam illo
                    reiciendis consequuntur! Consequuntur?
                </p>
                <img src="https://picsum.photos/id/238/600/340" alt="image news">
            </section>
            <footer>
                <div class="feedback">
                    <i class="fa-solid fa-thumbs-up"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-face-laugh-squint"></i>
                </div>
                <div class="comments"><span>comments</span></div>
            </footer>
        </div>
        <div class="middle_news-feed">
            <header>
                <div class="middle_news-feed_image">
                    <img src="https://picsum.photos/seed/picsum/200/300" alt="facebook-logo" width="20px">
                </div>
                <div class="middle_news-feed-info">
                    <div class="middle_news-feed-info-content">
                        <h4>Reda IBENAHMED</h4>
                        <div>
                            <i class="fa-solid fa-earth-americas"></i>
                            <span>2d</span>
                        </div>
                    </div>
                    <i class="fa-solid fa-ellipsis"></i>
                </div>
            </header>
            <section>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, cumque dolores? Error commodi
                    rerum
                    placeat recusandae, delectus praesentium debitis aliquam sit architecto dicta sunt ea nam illo
                    reiciendis consequuntur! Consequuntur?
                </p>
                <img src="https://picsum.photos/id/272/600/340" alt="image news">
            </section>
            <footer>
                <div class="feedback">
                    <i class="fa-solid fa-thumbs-up"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-face-laugh-squint"></i>
                </div>
                <div class="comments"><span>comments</span></div>
            </footer>
        </div>
        <div class="middle_news-feed">
            <header>
                <div class="middle_news-feed_image">
                    <img src="https://picsum.photos/seed/picsum/200/300" alt="facebook-logo" width="20px">
                </div>
                <div class="middle_news-feed-info">
                    <div class="middle_news-feed-info-content">
                        <h4>Reda IBENAHMED</h4>
                        <div>
                            <i class="fa-solid fa-earth-americas"></i>
                            <span>2d</span>
                        </div>
                    </div>
                    <i class="fa-solid fa-ellipsis"></i>
                </div>
            </header>
            <section>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, cumque dolores? Error commodi
                    rerum
                    placeat recusandae, delectus praesentium debitis aliquam sit architecto dicta sunt ea nam illo
                    reiciendis consequuntur! Consequuntur?
                </p>
                <!-- <img src="../../../src/assets/img/news1.jpg" alt="image news"> -->
            </section>
            <footer>
                <div class="feedback">
                    <i class="fa-solid fa-thumbs-up"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-face-laugh-squint"></i>
                </div>
                <div class="comments"><span>comments</span></div>
            </footer>
        </div>
        <div class="middle_news-feed">
            <header>
                <div class="middle_news-feed_image">
                    <img src="https://picsum.photos/seed/picsum/200/300" alt="facebook-logo" width="20px">
                </div>
                <div class="middle_news-feed-info">
                    <div class="middle_news-feed-info-content">
                        <h4>Reda IBENAHMED</h4>
                        <div>
                            <i class="fa-solid fa-earth-americas"></i>
                            <span>2d</span>
                        </div>
                    </div>
                    <i class="fa-solid fa-ellipsis"></i>
                </div>
            </header>
            <section>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, cumque dolores? Error commodi
                    rerum
                    placeat recusandae, delectus praesentium debitis aliquam sit architecto dicta sunt ea nam illo
                    reiciendis consequuntur! Consequuntur?
                </p>
                <img src="https://picsum.photos/id/270/600/340" alt="image news">
            </section>
            <footer>
                <div class="feedback">
                    <i class="fa-solid fa-thumbs-up"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-face-laugh-squint"></i>
                </div>
                <div class="comments"><span>comments</span></div>
            </footer>
        </div>
        <div class="middle_news-feed">
            <header>
                <div class="middle_news-feed_image">
                    <img src="https://picsum.photos/seed/picsum/200/300" alt="facebook-logo" width="20px">
                </div>
                <div class="middle_news-feed-info">
                    <div class="middle_news-feed-info-content">
                        <h4>Reda IBENAHMED</h4>
                        <div>
                            <i class="fa-solid fa-earth-americas"></i>
                            <span>2d</span>
                        </div>
                    </div>
                    <i class="fa-solid fa-ellipsis"></i>
                </div>
            </header>
            <section>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, cumque dolores? Error commodi
                    rerum
                    placeat recusandae, delectus praesentium debitis aliquam sit architecto dicta sunt ea nam illo
                    reiciendis consequuntur! Consequuntur?
                </p>
                <img src="https://picsum.photos/id/240/600/340" alt="image news">
            </section>
            <footer>
                <div class="feedback">
                    <i class="fa-solid fa-thumbs-up"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-face-laugh-squint"></i>
                </div>
                <div class="comments"><span>comments</span></div>
            </footer>
        </div>
    </div>
</div>