<div class="right">
    <div class="right_sponsoreds">
        <div class="right_sponsoreds__sponsored">
            <h4>Sponsored</h4>
            <div class="right_sponsoreds__sponsored-content">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus a aperiam perspiciatis adipisci
                    minima sed neque accusantium animi sit! Velit?
                </p>
                <div class="right_sponsoreds__sponsored-content-text">
                    <div class="right_sponsoreds__sponsored-content-text-img">
                        <img src="https://picsum.photos/253" alt="image post">
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero sed error hic quod. Corrupti
                        libero corporis a sequi veniam voluptate!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <ul class="right_pages">
        <h4 class="right_pages_title">Your Pages</h4>
        <li class="right_pages__page">
            <div class="right_pages__page--image">
                <img src="https://picsum.photos/252" alt="page_1">
            </div>
            <span class="right_pages__page--name">Reda Ibenahmed</span>
        </li>
        <li class="right_pages__page">
            <div class="right_pages__page--image">
                <img src="https://picsum.photos/271" alt="page_2">
            </div>
            <span class="right_pages__page--name">Smaory Jack</span>
        </li>
        <li class="right_pages__page">
            <div class="right_pages__page--image">
                <img src="https://picsum.photos/254" alt="page_3">
            </div>
            <span class="right_pages__page--name">One Piece</span>
        </li>
    </ul>
    <ul class="right_contacts">
        <h4 class="right_contacts_title">Your Contacts</h4>
        <li class="right_contacts__contact">
            <div class="right_contacts__contact-image">
                <img src="https://picsum.photos/250" alt="shortcuts_1">
            </div>
            <span class="right_contacts__contact--username">Reda IBENAHMED</span>
        </li>
        <li class="right_contacts__contact">
            <div class="right_contacts__contact-image">
                <img src="https://picsum.photos/200" alt="shortcuts_2">
            </div>
            <span class="right_contacts__contact--username">Mostafa Yamal</span>
        </li>
        <li class="right_contacts__contact">
            <div class="right_contacts__contact-image">
                <img src="https://picsum.photos/201" alt="shortcuts_3">
            </div>
            <span class="right_contacts__contact--username">Younes Kamouch</span>
        </li>
        <li class="right_contacts__contact">
            <div class="right_contacts__contact-image">
                <img src="https://picsum.photos/203" alt="shortcuts_1">
            </div>
            <span class="right_contacts__contact--username">Reda IBENAHMED</span>
        </li>
        <li class="right_contacts__contact">
            <div class="right_contacts__contact-image">
                <img src="https://picsum.photos/204" alt="shortcuts_2">
            </div>
            <span class="right_contacts__contact--username">Mostafa Yamal</span>
        </li>
        <li class="right_contacts__contact">
            <div class="right_contacts__contact-image">
                <img src="https://picsum.photos/205" alt="shortcuts_3">
            </div>
            <span class="right_contacts__contact--username">Younes Kamouch</span>
        </li>
        <li class="right_contacts__contact">
            <div class="right_contacts__contact-image">
                <img src="https://picsum.photos/208" alt="shortcuts_1">
            </div>
            <span class="right_contacts__contact--username">Reda IBENAHMED</span>
        </li>
        <li class="right_contacts__contact">
            <div class="right_contacts__contact-image">
                <img src="https://picsum.photos/209" alt="shortcuts_2">
            </div>
            <span class="right_contacts__contact--username">Mostafa Yamal</span>
        </li>
        <li class="right_contacts__contact">
            <div class="right_contacts__contact-image">
                <img src="https://picsum.photos/250" alt="shortcuts_1">
            </div>
            <span class="right_contacts__contact--username">Reda IBENAHMED</span>
        </li>
        <li class="right_contacts__contact">
            <div class="right_contacts__contact-image">
                <img src="https://picsum.photos/200" alt="shortcuts_2">
            </div>
            <span class="right_contacts__contact--username">Mostafa Yamal</span>
        </li>
        <li class="right_contacts__contact">
            <div class="right_contacts__contact-image">
                <img src="https://picsum.photos/201" alt="shortcuts_3">
            </div>
            <span class="right_contacts__contact--username">Younes Kamouch</span>
        </li>
        <li class="right_contacts__contact">
            <div class="right_contacts__contact-image">
                <img src="https://picsum.photos/203" alt="shortcuts_1">
            </div>
            <span class="right_contacts__contact--username">Reda IBENAHMED</span>
        </li>
        <li class="right_contacts__contact">
            <div class="right_contacts__contact-image">
                <img src="https://picsum.photos/204" alt="shortcuts_2">
            </div>
            <span class="right_contacts__contact--username">Mostafa Yamal</span>
        </li>
        <li class="right_contacts__contact">
            <div class="right_contacts__contact-image">
                <img src="https://picsum.photos/205" alt="shortcuts_3">
            </div>
            <span class="right_contacts__contact--username">Younes Kamouch</span>
        </li>
        <li class="right_contacts__contact">
            <div class="right_contacts__contact-image">
                <img src="https://picsum.photos/208" alt="shortcuts_1">
            </div>
            <span class="right_contacts__contact--username">Reda IBENAHMED</span>
        </li>
        <li class="right_contacts__contact">
            <div class="right_contacts__contact-image">
                <img src="https://picsum.photos/209" alt="shortcuts_2">
            </div>
            <span class="right_contacts__contact--username">Mostafa Yamal</span>
        </li>
    </ul>
</div>