<nav class="navbar container">
    <div class="navbar_left">
        <div class="image-box">
            <!-- <img src="../../assets/img/facebook.webp" alt="facebook-logo"> -->
            <img src="https://picsum.photos/200/300?grayscale" alt="facebook-logo">
        </div>
        <div class="input-box_text">
            <label for="search">
                <input type="text" id="search" placeholder="Search Facebook">
            </label>
        </div>
    </div>
    <div class="navbar_middle">
        <div class="facebook-icons">
            <ul>
                <li><a href="#"><i class="fa-solid fa-house active"></i></a></li>
            </ul>
            <ul>
                <li><a href="#"><i class="fa-solid fa-tv"></i></a></li>
            </ul>
            <ul>
                <li><a href="#"><i class="fa-solid fa-layer-group"></i></a></li>
            </ul>
            <ul>
                <li><a href="#"><i class="fa-solid fa-globe"></i></a></li>
            </ul>
            <ul>
                <li><a href="#"><i class="fa-solid fa-calculator"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="navbar_right">
        <ul>
            <div class="box-image">
                <img src="https://picsum.photos/seed/picsum/200/300" alt="img profile" width="50px">
            </div>
            <li><a href="#"><i class="fa-brands fa-facebook-messenger"></i></a></li>
            <li><a href="#"><i class="fa-solid fa-bell"></i></a></li>
            <li><a href="#"><i class="fa-solid fa-flag"></i></li>
        </ul>
    </div>
</nav>